version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    assignees:
      - "ozgurakgun"
    groups:
      all-npm-packages:
        patterns:
          - "*"
